@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px auto;
    width: 80%;
}

.formulario-container {
    margin-bottom: 50px;
    display: flex;
}

.img-formulario {
    background-color: rgba(255,255,240,.2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0 5px 0 0;
}
.formulario-container > .img-formulario img {
    border-radius: 0 120px 5px 468px;
    height: 100%;
    opacity: .9;
}
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,240,.2);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}
  
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
  
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
  
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin: auto;
}
  
button:hover {
  background-color: #2980b9;
}
  
.redes-sociais {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.linkedin > img, 
.github > img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

.paragrafo-social-rodape {
    color: #fff;
    font-family: 'Lato', sans-serif;
}