<div class="contato-container">
    <div class="formulario-container">
        <form action="enviar.php" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
    
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
    
            <button type="submit">Enviar</button>
        </form>
        <div class="img-formulario">
            <img src="assets/img.png" alt="">
        </div>
    </div>

    <div class="redes-sociais">
        <div class="linkedin">
            <img src="https://content.linkedin.com/content/dam/me/brand/en-us/brand-home/logos/In-Blue-Logo.png.original.png" alt="linkedin" class="linkedin-img"
            style="background-color: white;">
        </div>
        <div class="github">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" class="github-img">
        </div>
    </div>
    
    <div class="social-texto">
        <p class="paragrafo-social-rodape">Email: gabrielsgonc.dev@gmail.com</p>
        <p class="paragrafo-social-rodape">(87) 9 9682-5881 - Segunda a Sexta 9h - 20h</p>
    </div>
</div>