@media only screen and (max-width: 359px){
    .perfil-container {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 280px;
    }
    .img {
        width: 250px;
        height: 300px; 
        display: flex;   
        justify-self: center;
        margin: auto;
    }
    .div-img > p {
        font-size: 12px;
        text-align: center;
    }
    .texto-techonogias {
        width: 340px;
    }
    .texto-techonogias app-titulo-paragrafo{
        font-size: 10px;
    }
    .svg-angular,
    .svg-java, 
    .svg-mysql,
    .svg-git {
        width: 45px;
        height: 45px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 539px){
    .perfil-container {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 280px;
    }
    .img {
        width: 250px;
        height: 300px; 
        display: flex;   
        justify-self: center;
        margin: auto;
    }
    .div-img > p {
        font-size: 12px;
        text-align: center;
    }
    .texto-techonogias {
        width: 400px;
    }
    .texto-techonogias app-titulo-paragrafo{
        font-size: 12px;
    }
    .svg-angular,
    .svg-java, 
    .svg-mysql,
    .svg-git {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 860px){
    .perfil-container {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 280px;
    }
    .img {
        width: 280px;
        height: 330px; 
        display: flex;   
        justify-self: center;
        margin: auto;
    }
    .div-img > p {
        font-size: 12px;
        text-align: center;
    }
    .texto-techonogias {
        width: 430px;
    }
    .texto-techonogias app-titulo-paragrafo{
        font-size: 14px;
    }
    .svg-angular,
    .svg-java, 
    .svg-mysql,
    .svg-git {
        width: 64px;
        height: 64px;
    }

}

@media only screen and (min-width: 861px) and (max-width: 1023px){

    .img {
        width: 280px;
        height: 330px; 
        display: flex;   
        justify-self: center;
        margin: auto;
    }
    .div-img > p {
        font-size: 12px;
        text-align: center;
    }
    .texto-techonogias {
        width: 490px;
    }
    .texto-techonogias app-titulo-paragrafo{
        font-size: 16px;
    }
    .svg-angular,
    .svg-java, 
    .svg-mysql,
    .svg-git {
        width: 64px;
        height: 64px;
    }
}