@media only screen and (max-width: 359px){
    .perfil-container {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 280px;
    }
    .img {
        width: 250px;
        height: 300px; 
        display: flex;   
        justify-self: center;
        margin: auto;
    }
    .div-img > p {
        font-size: 12px;
        text-align: center;
    }
    .texto-techonogias {
        width: 340px;
    }
    .texto-techonogias app-titulo-paragrafo{
        font-size: 10px;
    }
    .svg-angular,
    .svg-java, 
    .svg-mysql,
    .svg-git {
        width: 45px;
        height: 45px;
    }
}