header {
    width: 100wh;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #002b24, #004d40);
    font-family: 'Montserrat', sans-serif;
}

header > .logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.logo > img {
    height: 100%;
}

.header-buttons > button {
    border-radius: 3px;
    margin: 5px 20px;
    text-align: center;
    font-size: 16px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
}

.header-buttons button:hover {
    background: #004d40;
    color: #ffffff;
}

div.menu {
    display: none;
}
