.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
    height: 128px;
    width: 100%;
}

.header-logo-name {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 

    background: linear-gradient(180deg, #FFF 64%, rgba(30, 30, 30, 0.66) 136%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-logo:hover {
    transform: scale(1.005);
}
.header-logo > p {
    cursor: pointer;
    padding: 5px;
}

.header-logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50px 3px 50px 3px
}