<div class="certificado-container">
    <div class="certificado-img">
        <img src="{{img}}" alt="img" class="img-certificados">
    </div>
    <div class="descricao-container">
        <h1 class="titulo">{{nome}}</h1>
        <div class="paragrafo-container">
            <p class="pararafo">Conclusão: {{data}}</p>
            <p class="pararafo">Carga horária: {{cargaHora}} horas</p>
            <p class="pararafo">Link: <a href="{{linkCert}}">Site externo</a></p>
        </div>
    </div>
</div>