.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: linear-gradient(135deg, #002b24, #001d18);
    color: #fff;
    height: 90vh;
}

.formulario-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 60vh;
    margin-bottom: 50px;
    background: #004d40;
    padding: 20px;
    border-radius: 8px;
}

.formulario-container form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.formulario-container label {
    margin-bottom: 5px;
    font-size: 1rem;
}

.formulario-container input,
.formulario-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background: #f4f4f4;
    color: #333;
}

.formulario-container button {
    background: #004d40;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.formulario-container button:hover {
    background: #003d34;
}


/* Estilos para redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.redes-sociais .linkedin,
.redes-sociais .github {
    margin: 0 15px;
}

.redes-sociais img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

/* Estilos para texto de rodapé */
.social-texto {
    text-align: center;
    font-size: 1rem;
}

.social-texto a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-texto a:hover {
    color: #0056b3;
}

.paragrafo-social-rodape {
    margin-bottom: 10px;
}
