main#main-about-me {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.about-me {
    text-align: left;
    width: 70vw;
}

.about-me h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: #01c0a0;
}

.about-me p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 30px;
    width: 70%;
    text-align: justify;
}

.about-me-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card-info {
    text-align: center;
    padding: 20px;
    background-color: #00362d;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
}

.card-info:hover {
    background-color: #00473c;
    transition: .5s ease-in;
    user-select: none;
}

.card-info h1 {
    font-size: 3rem;
    color: #01c0a0;
}

.card-info p {
    font-size: 1.5rem;
}

/* Estilos para a seção de carreira */
.my-carrer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: #02110e;
    height: 100vh;
}

.img img {
    width: 20vw;
    height: auto;
}

.carrer-section-text {
    max-width: 600px;
    padding: 0 20px;
}

.carrer-section-text h1 {
    font-size: 2.3rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.carrer-section-text span {
    color: #01c0a0;
}

.carrer-section-text p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #cccbcb;
    text-align: justify;
}

.carrer-section-text p > span {
    color: #01c0a0;
}

/* Estilos para a seção de educação e experiência */
.education-xp {
    background-color: #001d18;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.xp-text {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xp-text h1 {
    align-self: flex-start;
    font-size: 5rem;
    color: #01c0a0;
    margin-bottom: 20px;
}

.xp-text p {
    font-size: 1.5rem;
    width: 60vw;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 30px;
}

.roadmap {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 20px;
    background-color: #00362d;
    border-radius: 5px;
    margin: 20px 100px;
    max-width: 400px;
}

.card .year {
    background-color: #01c0a0;
    width: 45%;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card .year:hover {
    background-color: #37ceb5;
    transition: 500ms ease-in;
}

.card h1 {
    font-size: 1.5rem;
    color: #8d8d8d;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.3rem;
    color: #00947b;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
}

/* Estilos para a seção do que eu faço */
.what-I-do {
    padding: 50px 0;
    background: linear-gradient(135deg, #002b24, #001d18);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.wid-text h1 {
    font-size: 3rem;
    color: #00947b;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.wid-text p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.wid-card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wid-card {
    background-color: #00362d;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    width: 25vw;
    height: auto;
}

.wid-card h1 {
    font-size: 3rem;
    color: #03c2a2;
    margin-bottom: 10px;
    text-align: center;

}

.wid-card p {
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: justify;
}

.wid-card img {
    width: 5vw;
    height: 10vh;
    display: flex;
    margin: auto;
}
