<main id="main-about-me">
    <div class="about-me">
        <h1>Sobre mim</h1>
        <p>Com 2+ anos em dedicação, foco e desenvolvimento de aplicativos. Atingir o objetivo, finalizando o projeto com a satisfação do cliente é mais que uma meta.</p>
    </div>
    <div class="about-me-info">
        <div class="card-info">
            <h1>2+</h1>
            <p>Anos de XP</p>
        </div>
        <div class="card-info">
            <h1>50+</h1>
            <p>Projetos completos</p>
        </div>
        <div class="card-info">
            <h1>10+</h1>
            <p>Bootcamps finalizados</p>
        </div>
        <div class="card-info">
            <h1>1k+</h1>
            <p>Commits feitos</p>
        </div>
    </div>
</main>

<div class="my-carrer-section">
    <div class="img">
        <img src="assets/me-2.jpg">
    </div>

    <div class="carrer-section-text">
        <h1>Não apenas um web-designer, um <span>desenvolvedor completo</span>, desde UI/UX até segurança digital.</h1>
        <p>Quem é Gabriel? É alguém que busca sempre se aperfeiçoar, não apenas em uma área mas busca entender também outras áreas relacionadas. Iniciou sua carreira na tecnologia buscando atuar com segurança digital, e com o passar do tempo tomou curiosidade por outras áreas como banco de dados, back-end e atualmente front-end.
        <br>
        Sempre busca entregar não apenas o que foi pedido, mas vai além. Tem como objetivo principal não apenas a satisfação dos envolvidos no projeto, mas também <span>inovar</span>, usar a <span>criatividade</span> e <span>surpreender</span> o cliente.
        </p>
    </div>
</div>

<div class="education-xp">
    <div class="xp-text">
        <h1>E o XP?</h1>
        <p>Desde 2020, durante a pandemia, que iniciou seus estudos em programação. Começando por ethical hacking, estudando Java e C, posteriormente indo para a linguagem python, redes de computadores e banco de dados.</p>
    </div>

    <div class="roadmap">
        <div class="card">
            <div class="year">
                <p>2023-2026</p>
            </div>
            <div class="roadmap-card-text">
                <h1>Jala University</h1>
                <h2>Estudante - Graduando</h2>
                <p>Não apenas a parte teórica foi explicada, mas foi utilizado várias atividades práticas que trouxeram bastante experiência. Atividades comuns foram projetos práticos com linguagens como Java, Python, C# e Js. Bancos de dados como MySQL, Postgresql, MongoDb e CassandraDb. Além do uso de frameworks atuais como React e Spring.</p>
            </div>
        </div>
        <div class="card">
            <div class="year">
                <p>2023 - Presente</p>
            </div>
            <div class="roadmap-card-text">
                <h1>Freelance</h1>
                <h2>Desenvolvedor</h2>
                <p>Efetuando as principais atividades do desenvolvimento, desde o design até a fase de disponibilização do projeto. Trabalhou principalmente na criação de landing pages, além de aplicativos web e mobile.</p>    
            </div>
        </div>
    </div>
</div>

<div class="what-I-do">
    <div class="wid-text">
        <h1>O que ofereço?</h1>
        <p>Meus principais serviços, em que posso entregar um projeto de qualidade são:</p>
    </div>
    <div class="wid-card-list">
        <div class="wid-card">
            <img src="assets/design.png">
            <h1>Design de aplicativo/sites</h1>
            <p>Com experiência em ferramentas como figma, photoshop, canvas e IAs, fornece designs criativos em um curto período</p>
        </div>
        <div class="wid-card">
            <img src="assets/desenvolvimento.png">
            <h1>Desenvolvimento de aplicativo/sites</h1>
            <p>Independente da linguagem ou framework escolhido, para todo problema existe uma solução, essa solução é o objetivo.</p>
        </div>
        <div class="wid-card">
            <img src="assets/teste.png">
            <h1>Testes em aplicativos/sites</h1>
            <p>Todas as aplicações necessitam de testes para identificar possíveis erros, vulnerabilidades e melhorias.</p>
        </div>
    </div>
</div>