@media (max-width: 1240px) {

    main#main-about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .my-carrer-section .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main#main-about-me .about-me, main#main-about-me .about-me-info {
        width: 100%;
    }

    main#main-about-me .about-me-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main#main-about-me .about-me-info .card-info {
        width: 45%;
        margin-bottom: 20px;
    }

    .my-carrer-section {
        flex-direction: column;
        align-items: center;
    }

    .my-carrer-section .img, .my-carrer-section .carrer-section-text {
        width: 80%;
    }
    .my-carrer-section > .img {
        align-self: center;
        justify-self: center;
        margin: auto;
    }
    .education-xp {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .education-xp .xp-text, .education-xp .roadmap {
        width: 80%;
    }

    .education-xp .roadmap .card {
        width: 100%;
    }

    div.roadmap {
        display: block;
    }

    .what-I-do {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .what-I-do .wid-text, .what-I-do .wid-card-list {
        width: 80%;
    }

    .what-I-do .wid-card-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .what-I-do .wid-card {
        width: auto;
        margin-bottom: 20px;
    }
}

/* Para telas menores que 720px */
@media (max-width: 720px) {
    main#main-about-me .about-me-info .card-info {
        width: 100%;
    }


    div.roadmap {
        display: block;
    }

    .my-carrer-section .img, .my-carrer-section .carrer-section-text {
        width: 100%;
    }
    .my-carrer-section .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .education-xp {
        height: auto;
    }

    .education-xp .xp-text, .education-xp .roadmap {
        width: 100%;
    }

    .what-I-do {
        height: auto;
    }

    .what-I-do .wid-text, .what-I-do .wid-card-list {
        width: 100%;
    }

    .what-I-do .wid-card {
        width: 100%;
    }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
    main#main-about-me .about-me h1, main#main-about-me .about-me-info .card-info h1 {
        font-size: 1.5rem;
    }

    main#main-about-me .about-me p, main#main-about-me .about-me-info .card-info p {
        font-size: 1rem;
    }

    .my-carrer-section {
        height: auto;
    }
    .my-carrer-section .carrer-section-text h1 {
        font-size: 1.5rem;
    }

    .my-carrer-section .carrer-section-text p {
        font-size: 1rem;
    }

    .education-xp {
        height: auto;

    }
    .education-xp .xp-text h1, .education-xp .roadmap .card h1 {
        font-size: 1.5rem;
    }

    .education-xp .xp-text p, .education-xp .roadmap .card p {
        font-size: 1rem;
    }
    .education-xp .card {
        height: auto;
        margin: 15px auto;
    } 

    div.roadmap {
        display: block;
    }
    .roadmap-card-text > p {
        display: none;
    }

    .what-I-do {
        height: auto;
    }

    .what-I-do .wid-text h1 {
        font-size: 1.5rem;
    }

    .what-I-do .wid-text p, .what-I-do .wid-card p {
        font-size: 1rem;
    }
}
