.title-skill {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-skill-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills-svg {
    border-radius: 10px;
}
.ativar {
    animation: entradaSuaveEsq 3s forwards, movimento 2s infinite;
}

@keyframes entradaSuaveEsq {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes movimento {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .93;
    }
}