.rodape-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-top: solid 1px rgba(255,255,255,.4);
    animation: aparicaoSuave 3s forwards;
}
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 110px;
}

.rodape-paragrafo {
    color: #FFF;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.feedback-joia {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15px;
    margin-top: 90px;
    background-color: #FFF;
    border-radius: 30px;
    padding: 5px;
}
.joia-cima {
    opacity: .9;
}

.joia-cima,
.joia-baixo {
    cursor: pointer;
}

.rodape-titulo {
    margin-top: 80px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    animation: aparicaoSuave 2s forwards;
}
.rodape-paragrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 70px 0;
}

@keyframes aparicaoSuave {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}