<h1 class="titulo-projetos-em-andamento">Aqui são os projetos que estou participando no momento</h1>  
<div class="projetos-em-andamento_container">
    <div class="projetos-em-andamento">
        <app-titulo-paragrafo title="Portifólio pessoal, este site utilizado" paragraph="Apesar de 'estar pronto', ainda faltam algumas funcionalidades como o design responsivo"></app-titulo-paragrafo>
    </div>

    <div class="projetos-em-andamento">
        <app-titulo-paragrafo title="Software de Gerenciamento de Rotina" paragraph="Será implementado pelo usuário sua rotina diária de segunda a domingo, com atividades divididas em horários, além de ter a possibilidade de edição da tarefa."></app-titulo-paragrafo>
    </div>
    <div class="projetos-em-andamento">
        <app-titulo-paragrafo title="Jogo da cobrinha" paragraph="Jogo da cobrinha que pega a fruta e cresce o máximo que conseguir, está sendo feito em java, e possuirá menu para escolha de configurações iniciais além de algumas skins para a cobrinha"></app-titulo-paragrafo>
    </div>
    <div class="projetos-em-andamento">
        <app-titulo-paragrafo title="Blog para desenvolvedores" paragraph="Blog para que devs possam criar artigos, posts e forúns, com o intuito de compartilhar informações, curiosidades ou dúvidas da área tech."></app-titulo-paragrafo>
    </div>
</div>