@media only screen and (min-width: 200px) and (max-width: 399px){
    .titulo-projetos-em-andamento {
        font-size: 22px;
        text-align: center;
    }
    .projetos-em-andamento_container {
        width: 270px;
        height: auto;
    }
    .projetos-em-andamento_container > div.projetos-em-andamento {
        width: 100%;
        font-size: 75%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px){
    .titulo-projetos-em-andamento {
        font-size: 26px;
        text-align: center;
    }
    .projetos-em-andamento_container {
        width: 380px;
        height: auto;
    }
    .projetos-em-andamento_container > div.projetos-em-andamento {
        width: 100%;
        font-size: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .titulo-projetos-em-andamento {
        font-size: 26px;
        text-align: center;
    }
    .projetos-em-andamento_container {
        width: 590px;
        height: auto;
    }
    .projetos-em-andamento_container > div.projetos-em-andamento {
        width: 100%;
        font-size: 95%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1090px){
    .titulo-projetos-em-andamento {
        font-size: 28px;
        text-align: center;
    }
    .projetos-em-andamento_container {
        width: 890px;
        height: auto;
    }
    .projetos-em-andamento_container > div.projetos-em-andamento {
        width: 100%;
        font-size: 95%;
    }
}