<div class="certificados-main">
    <div class="certificado-componente">
        <ul *ngFor="let certificate of certificates">
            <app-certificados-card 
                nome="{{ certificate.certificado.name }}" 
                cargaHora="{{ certificate.certificado.horas }}" 
                data="{{ certificate.certificado.data }}" 
                linkCert="{{ certificate.certificado.link }}" 
                img="{{ certificate.certificado.img }}">
            </app-certificados-card>
        </ul>
    </div>
</div>
