.content {
    display: flex;
    justify-content: center;
}
.content span{
    height: 750px;
}
app-rodape{
    display: flex;
    align-self: flex-end;
    width: 100%;
    align-items: center;
    justify-content: center;
}

app-corpo-destaque{
    width: 80%;
}
#perfil {
    display: flex;
    gap: 70px;
}
#line {
    height: 495px;
    width: 1px;
    background-color: rgba(255,255,255,.5);
    margin-top: 70px;
}
.dots {
    text-align: center;
  }
  
.dot {
    width: 70px;
    height: 9px;
    background-color: #ccc;
    border-radius: 40%;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    animation: aparicao 2s forwards;
}
  
.dot.active {
    background-color: #007bff; 
    box-shadow: 0 0 10px #66a5e9;
}

.ativoEsq {
    position: absolute;
    animation: entradaSuaveEsq 2s forwards;
}
.desativoEsq {
    position: absolute;
    animation: SaidaSuaveEsq 1s forwards;
}

.ativoDir {
    position: absolute;
    animation: entradaSuaveDir 2s forwards;
}
.desativoDir {
    position: absolute;
    animation: saidaSuaveDir 1s forwards;
}
.hide {
    display: none;
}
.first {
    animation: aparicao 2s forwards;
}

app-rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.9);
}
.content {
    user-select: none;
    touch-action: manipulation;
}
@keyframes SaidaSuaveEsq {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes entradaSuaveEsq {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes saidaSuaveDir {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes entradaSuaveDir {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparicao {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(1px);
    }
}