<main>
    <div class="img">
        <img src="assets/me.jpg" alt="Gabriel">
    </div>
    <div class="main-info">
        <div class="text">
            <h1>Gabriel Gonçalves</h1>
            <h2>Engenheiro de Software</h2>
            <p>Com 2+ anos de experiência em desenvolvimento de aplicativos, posso trazer a solução para o problema que você busca resolver.</p>
        </div>
        <button class="cv">Baixar CV</button>
    </div>

</main>

<div class="projects-section">
    <div class="line">
        <div class="card">
            <h1>Linguagens de Programação</h1>
            <div>
                <p>Java</p>
                <progress id="progress" value="75" max="100"></progress>
            </div>
            <div>
                <p>TS/JS</p>
                <progress id="progress" value="56" max="100"></progress>
            </div>
            <div>
                <p>Python</p>
                <progress id="progress" value="65" max="100"></progress>
            </div>
            <div>
                <p>C#</p>
                <progress id="progress" value="40" max="100"></progress>
            </div>

        </div>
        <div class="card">
            <h1>Bancos de dados</h1>
            <div>
                <p>MySQL</p>
                <progress id="progress" value="80" max="100"></progress>
            </div>
            <div>
                <p>Postgresql</p>
                <progress id="progress" value="60" max="100"></progress>
            </div>
            <div>
                <p>H2</p>
                <progress id="progress" value="85" max="100"></progress>
            </div>
            <div>
                <p>MongoDb</p>
                <progress id="progress" value="75" max="100"></progress>
            </div>
        </div>
        <div class="card">
            <h1>Frameworks</h1>
            <div>
                <p>Angular</p>
                <progress id="progress" value="58" max="100"></progress>
            </div>
            <div>
                <p>Spring</p>
                <progress id="progress" value="68" max="100"></progress>
            </div>
            <div>
                <p>React</p>
                <progress id="progress" value="43" max="100"></progress>
            </div>
            <div>
                <p>Node.js</p>
                <progress id="progress" value="41" max="100"></progress>
            </div>
        </div>
        <div class="card">
            <h1>Ferramentas de desenvolvimento</h1>
            <div>
                <p>Git</p>
                <progress id="progress" value="95" max="100"></progress>
            </div>
            <div>
                <p>Docker</p>
                <progress id="progress" value="85" max="100"></progress>
            </div>
            <div>
                <p>Ide</p>
                <progress id="progress" value="96" max="100"></progress>
            </div>
            <div>
                <p>Flyway</p>
                <progress id="progress" value="76" max="100"></progress>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="card">
            <h1>Soft Skills</h1>
            <div>
                <p>Comunição</p>
                <progress id="progress" value="95" max="100"></progress>
            </div>
            <div>
                <p>Trabalho em equipe</p>
                <progress id="progress" value="90" max="100"></progress>
            </div>
            <div>
                <p>Gerenciamento de tempo</p>
                <progress id="progress" value="96" max="100"></progress>
            </div>
            <div>
                <p>Resolução de problemas</p>
                <progress id="progress" value="97" max="100"></progress>
            </div>
        </div>
        <div class="card">
            <h1>Sistemas Operacionais</h1>
            <div>
                <p>Windows</p>
                <progress id="progress" value="90" max="100"></progress>
            </div>
            <div>
                <p>Linux</p>
                <progress id="progress" value="95" max="100"></progress>
            </div>
            <div>
                <p>MacOS</p>
                <progress id="progress" value="32" max="100"></progress>
            </div>
        </div>
        <div class="card">
            <h1>Agile</h1>
            <div>
                <p>Scrum</p>
                <progress id="progress" value="98" max="100"></progress>
            </div>
            <div>
                <p>Kanban</p>
                <progress id="progress" value="96" max="100"></progress>
            </div>
            <div>
                <p>XP</p>
                <progress id="progress" value="90" max="100"></progress>
            </div>       
        </div>
        <div class="card">
            <h1>Design</h1>
            <div>
                <p>Photoshop</p>
                <progress id="progress" value="63" max="100"></progress>
            </div>
            <div>
                <p>Figma</p>
                <progress id="progress" value="73" max="100"></progress>
            </div>
            <div>
                <p>UI/UX</p>
                <progress id="progress" value="54" max="100"></progress>
            </div>
        </div>
    </div>
</div>

<div class="contact-section">
    <h1>Tecnologias que já utilizei</h1>
    <div class="technologies">
        <div class="tech-carousel">
            <img src="assets/angular.png" alt="">
            <img src="assets/ts.png" alt="">
            <img src="assets/docker.png" alt="">
            <img src="assets/figma.png" alt="">
            <img src="assets/flyway.png" alt="">
            <img src="assets/html.png" alt="">
            <img src="assets/css.png" alt="">
            <img src="assets/js.png" alt="">
            <img src="assets/mysql.png" alt="">
            <img src="assets/postgresql.png" alt="">
            <img src="assets/python.png" alt="">
            <img src="assets/java.png" alt="">
            <img src="assets/spring.png" alt="">
            <img src="assets/trello.png" alt="">
        </div>
    </div>

    <div class="connect">
        <h1>Aceita tomar um café comigo?</h1>
        <p>Seja recrutador, desenvolvedor ou curioso com meu trabalho, fique a vontade para se conectar.</p>
        <a href="https://www.linkedin.com/in/kingabreel/" class="social"></a>
        <a href="https://github.com/kingabreel" class="social"></a>
        <a href="mailto:gabrielsgonc.dev@gmail.com" class="social"></a>
    </div>
</div>