@media only screen and (max-width: 360px) {
    .dot{
        width: 13px;
        height: 13px;
        margin: 0 26px 0 26px;
    }
    .content {
        width: 100%;
    }
    app-corpo-destaque {
        width: 100%;
    }
    #perfil {
        display: flex;
        flex-direction: column;
        padding-bottom: 190px;
    }
}
@media only screen and (min-width: 361px) {
    .dot{
        width: 13px;
        height: 13px;
        margin: 0 26px 0 26px;
    }
    .content {
        width: 100%;
    }
    app-corpo-destaque {
        width: 100%;
    }
}