<div class="home-page-container">
    <div class="dots">
        <div class="carousel-dots">
            <div class="dot" [class.active]="currentSection === 0" (click)="selectSection(0)"></div>
            <div class="dot" [class.active]="currentSection === 1" (click)="selectSection(1)"></div>
            <div class="dot" [class.active]="currentSection === 2" (click)="selectSection(2)"></div>
      </div>
    </div>
    
    <div class="content">
        <span></span>
        <app-corpo-destaque [ngClass]="{'first': currentSection === 0 && lastSection === -1, 'ativoEsq': currentSection === 0, 'desativoEsq': currentSection !== 0}"></app-corpo-destaque>
        <div id="perfil" [ngClass]="{'ativoEsq': currentSection === 1 && currentSection < lastSection, 'ativoDir': currentSection === 1 && currentSection > lastSection, 'desativoEsq': (currentSection !== 1) && currentSection > lastSection, 'desativoDir': (currentSection !== 1) && currentSection < lastSection}">
            <app-perfil [class.hide]="lastSection === -1"></app-perfil>
            <span id="line"></span>
            <app-skills [class.hide]="lastSection === -1"></app-skills>
        </div>
        <div [ngClass]="{'ativoDir': currentSection === 2, 'desativoDir': currentSection !== 2}">
            <app-main [class.hide]="lastSection === -1"></app-main>
        </div>
        <app-rodape></app-rodape>
    </div>
</div>
