/* CSS para responsividade */

/* Para telas menores que 1200px */
@media (max-width: 1200px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main > .img, main > .main-info {
        width: 80%;
        height: auto;
    }

    .main-info h1 {
        font-size: 2.5rem;
    }

    .main-info h2 {
        font-size: 1.75rem;
    }

    .main-info p {
        font-size: 1.2rem;
    }

    .line > .card {
        width: 40vw;
        height: auto;
    }

    .line {
        width: 100%;
    }

    .connect .social {
        width: 30px;
        height: 30px;
    }
    
    div.projects-section {
        height: auto;
    }
}

@media (max-width: 768px) {
    .main-info h1 {
        font-size: 2rem;
    }

    .main-info h2 {
        font-size: 1.5rem;
    }

    .main-info p {
        font-size: 1rem;
    }

    .line > .card {
        width: 80vw;
        margin: 0.5rem;
    }

    .connect .social {
        width: 25px;
        height: 25px;
    }

    div.projects-section {
        height: auto;
    }
}

@media (max-width: 480px) {
    .main-info h1 {
        font-size: 1.5rem;
    }

    .main-info h2 {
        font-size: 1.2rem;
    }

    .main-info p {
        font-size: 0.9rem;
    }

    .main-info > button.cv {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .line > .card {
        width: 90vw;
    }

    .connect .social {
        width: 20px;
        height: 20px;
    }

    div.projects-section {
        height: auto;
    }
}
