@media (max-width: 1240px) {
    .project-section {
        height: auto;
        background: linear-gradient(135deg, #002b24, #001d18);
    }

    .line-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    
    .line-projects > .project-section-card {
        width: 30vw;
        height: 30vh;
        padding: 10px;
    }
    
    .text > h1 {
        font-size: 2.5rem;
    }

    .text > p {
        font-size: 1.2em;
    }

    .project-section-card > h1 {
        font-size: 1.8rem;
    }

    .project-section-card > p {
        font-size: 0.9rem;
    }
}

/* Para telas menores que 720px */
@media (max-width: 720px) {
    main#projects-main {
        height: auto;
    }

    main#projects-main > .project-section {
        width: 100vw;
        flex-direction: column;
    }

    .line-projects {
        flex-direction: column;
        gap: 50px;
    }

    .line-projects > .project-section-card {
        width: 80vw;
        height: 20vh;
        padding: 10px;
    }

    .text > h1 {
        font-size: 2rem;
    }

    .text > p {
        font-size: 1.1em;
    }

    .project-section-card > h1 {
        font-size: 1rem;
    }

    .project-section-card > p {
        font-size: 0.7rem;
    }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
    main#projects-main {
        padding: 20px;
    }

    .line-projects {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .line-projects > .project-section-card {
        width: 90vw;
        height: auto;
        padding: 20px;
        margin: 10px 0;
    }

    .text > h1 {
        font-size: 1.5rem;
    }

    .text > p {
        font-size: 1rem;
    }

    .project-section-card > h1 {
        font-size: 1.2rem;
    }

    .project-section-card > p {
        font-size: 0.8rem;
    }

    .project-section-card img {
        width: 25px;
        height: 25px;
    }
}
