<main id="projects-main">
    <div class="text">
        <h1>Projetos</h1>
        <p>Aqui você pode ver um dos meus principais projetos, sejam eles acadêmicos, profissionais ou projetos pessoais.</p>
    </div>
    <div class="project-section">
        <div class="line-projects">
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/forum-hub">
                    <img src="assets/click.png">
                </a>
                <h1>Forum hub - API</h1>
                <p>API implementada para servir como um forum, utilizando spring boot, foi implementado funcionalidade de criação de usuários, tópicos e respostas a tópicos.</p>
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/library-management_ONE">
                    <img src="assets/click.png">
                </a>
                <h1>Biblioteca</h1>
                <p>API de um sistema de gerenciamento, busca e salvamento de livros. Faz o consumo de uma API externa para buscar livros e em seguida pode salvar os resultados em uma API interna.</p>
    
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/lab-quarkus-dev">
                    <img src="assets/click.png">
                </a>
                <h1>Sistema de Eleição</h1>
                <p>Sistema de gerenciamento de eleição, com possibilidade de cadastro de candidados e adição de votos para os mesmos.</p>
    
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/ecommerce_cards-rick-morty">
                    <img src="assets/click.png">
                </a>
                <h1>Sistema de comercio de cartas</h1>
                <p>Consumindo a API de rick e morty, foi implementado um sistema de venda e compra de cartas, utilizando angular.</p>
            </div>    
        </div>
        <div class="line-projects">
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/game">
                    <img src="assets/click.png">
                </a>
                <h1>Sonic's game</h1>
                <p>Jogo implementado em html, css e js. Objetos vem em direção ao personagem e o usuário deve pular sob os objetos, semelhante ao dino game no chrome.</p>
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/poke-api">
                    <img src="assets/click.png">
                </a>
                <h1>Poke-api</h1>
                <p>Consumo da api dos pokemons e mostrando cada pokemon na página inicial, ao clicar em qualquer pokemon será mostrado suas informações.</p>
    
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/task-list">
                    <img src="assets/click.png">
                </a>
                <h1>Lista de tarefas</h1>
                <p>Utilizando angular, é possível adicionar tarefas com um título. Cada tarefa adicionada possui um ID específico, podendo também ser excluida ou marcada como concluida.</p>
    
            </div>
            <div class="project-section-card">
                <a href="https://github.com/kingabreel/Java-Snake-Game">
                    <img src="assets/click.png">
                </a>
                <h1>Jogo da cobrinha</h1>
                <p>Implementado funcionalidades como aumentar a dificuldade do jogo, modificar o tamanho do mapa e configurar a velocidade da cobra.</p>
            </div>    
        </div>
    </div>
</main>