<div class="projetos-container">
    <div class="projeto-card-container">
        <app-projetos-card titulo="Portifólio pessoal" img="assets/projects/portifolio.png" descricao="Demorei a fazer esse. apesar de ser um dos mais fáceis que fiz. Utilizei Angular e MongoDB, também usei o Figma para ter uma base do que seria feito. Todos os sprites (desenhos/gifs) foram feitos por mim também, ao todo o projeto me custou 15 dias, conciliando com a faculdade e cursos que faço."></app-projetos-card>
    </div>
    <div class="projeto-card-container">
        <app-projetos-card titulo="Lista de Tarefas" img="assets/projects/listaTarefasCloud.png" descricao="Software de gerenciamento de lista de tarefas, sendo possível adicionar novas tarefas, remover, atualizar e ver toda a lista, além de ter filtro de pesquisa. Também possui funcionalidade de login e cadastro. Foi utilizado Java, Spring boot, MongoDB e Mave."></app-projetos-card>
    </div>
    <div class="projeto-card-container">
        <app-projetos-card titulo="Site de Filmes - BitBucket" img="assets/projects/siteDeFilmes.png" descricao="Esse foi o projeto final da disciplina de Desenvolvimento de Software I, o intuito era criar um software que fosse voltado a vendas. O trabalho foi em grupo, e utilizamos o SCRUM framework, Kanban, Java para o backend e React para o front."></app-projetos-card>
    </div>
    <div class="projeto-card-container">
        <app-projetos-card titulo="Algoritmo de Ordenação" img="assets/projects/sortingAlgorithm.png" descricao="Projeto final da disciplina Programação II, foi necessário fazer a implementação de 3 algoritmos que fizessem a ordenação crescente ou decrecente de valores digitados pelo usuário. Os parametros necessário de input são tipo de algoritmo, crescente/decrecente, numero/caractere, valores, velocidade de interação."></app-projetos-card>
    </div>
</div>
