<div class="projetos-container">
    <div class="projetos-privados-container">
        <h1 class="projetos-titulo" style="display: flex; text-align: center; justify-self: center; margin: auto; align-self: center; color: #fff; width: 400px;">Projetos Privados: </h1>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Portifólio pessoal" img="assets/projects/portifolio.png" descricao="Demorei a fazer esse. apesar de ser um dos mais fáceis que fiz. Utilizei Angular e MongoDB, também usei o Figma para ter uma base do que seria feito. Todos os sprites (desenhos/gifs) foram feitos por mim também, ao todo o projeto me custou 15 dias, conciliando com a faculdade e cursos que faço."></app-projetos-card>
        </div>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Lista de Tarefas" img="assets/projects/listaTarefasCloud.png" descricao="Software de gerenciamento de lista de tarefas, sendo possível adicionar novas tarefas, remover, atualizar e ver toda a lista, além de ter filtro de pesquisa. Também possui funcionalidade de login e cadastro. Foi utilizado Java, Spring boot, MongoDB e Mave."></app-projetos-card>
        </div>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Site de Filmes - BitBucket" img="assets/projects/siteDeFilmes.png" descricao="Esse foi o projeto final da disciplina de Desenvolvimento de Software I, o intuito era criar um software que fosse voltado a vendas. O trabalho foi em grupo, e utilizamos o SCRUM framework, Kanban, Java para o backend e React para o front."></app-projetos-card>
            <a href="https://bit-bucket-films.vercel.app/" target="_blank">link</a>
        </div>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Algoritmo de Ordenação" img="assets/projects/sortingAlgorithm.png" descricao="Projeto final da disciplina Programação II, foi necessário fazer a implementação de 3 algoritmos que fizessem a ordenação crescente ou decrecente de valores digitados pelo usuário. Os parametros necessário de input são tipo de algoritmo, crescente/decrecente, numero/caractere, valores, velocidade de interação."></app-projetos-card>
        </div>
    </div>

    <div class="projetos-publicos-container">
        <h1 class="projetos-titulo" style="display: flex; text-align: center; justify-self: center; margin: auto; align-self: center; color: #fff; width: 400px;">Projetos Publicos: </h1>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Jogo da Cobrinha" img="assets/projects/snake.png" descricao="Criado a partir de um projeto base, fiz algumas melhorias como um menu com escolhas de dificuldade, velocidade e tamanho da tela além de estar trabalhando na resolução de alguns bugs e inserção de peles diferentes da cobra de acordo com a pontuação do usuário."></app-projetos-card>
            <a href="https://github.com/kingabreel/Java-Snake-Game" target="_blank">link</a>
        </div>
        <div class="projeto-card-container">
            <app-projetos-card titulo="Rpg em texto - Batalhas" img="assets/projects/rpg.png" descricao="Criado a partir de uma ideia de um desafio de projeto em um bootcamp, a tarefa era criar uma lógica em que um herói ganhasse XP e subisse de nível em qualquer contexto. Então acabei implementando um jogo de batalhas de rpg, com algumas possibilidades de escolha durante a batalha."></app-projetos-card>
            <a href="https://github.com/kingabreel/rpg-simple-game" target="_blank">link</a>
        </div>
    </div>

</div>
