<div class="skills-container">
    <h1 class="skills-titulo">&lt; Minhas Habilidades &gt;</h1>

    <div class="skills-bar">
        <div class="skills-left-column">
            <app-skill-bar skillTitle="Inglês" width="85"></app-skill-bar>
            <app-skill-bar skillTitle="Java" width="50"></app-skill-bar>
            <app-skill-bar skillTitle="Desenvolvimento Web" width="70"></app-skill-bar>
            <app-skill-bar skillTitle="Design/Figma/PSD" width="65"></app-skill-bar>
        </div>

        <div class="skills-right-column">
            <app-skill-bar skillTitle="Comunicação" width="90"></app-skill-bar>
            <app-skill-bar skillTitle="Trabalho em equipe" width="100"></app-skill-bar>
            <app-skill-bar skillTitle="Protagonismo" width="100"></app-skill-bar>
            <app-skill-bar skillTitle="Criatividade" width="100"></app-skill-bar>
        </div>
    </div>
</div>
