@media only screen and (min-width: 200px) and (max-width: 539px){
    .main-artigo-container {
        width: 100%;
        flex-shrink: 0;
        padding-top: 320px;
    }
    .main-container-information {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .main-container-information > img {
        width: 280px;
        height: 300px;

        margin: auto;
    }
    app-titulo-paragrafo {
        width: 340px;
        height: auto;
    }
    .dots {
        display: none;
    }
}

@media only screen and (min-width: 540px) and (max-width: 860px){
    .main-artigo-container {
        width: 100%;
        flex-shrink: 0;
        padding-top: 320px;
    }
    .main-container-information {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .main-container-information > img {
        width: 400px;
        height: 420px;

        margin: auto;
    }
    app-titulo-paragrafo {
        width: 460px;
        height: auto;
    }
    .dots {
        display: none;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1250px){
    .main-container-information {
        gap: 20px;
    }
    .main-container-information > img {
        width: 360px;
        height: 380px;
    }
    app-titulo-paragrafo {
        width: 400px;
        margin-bottom: 50px;
    }
}