<div class="main-artigo-container">
    <h1 class="main-artigo-category">{{categoria}}</h1>
    <div class="main-container-information" [ngClass]="{'first': currentSection === 0 && lastSection === -1, 'ativoEsq': currentSection === 0, 'desativoEsq': currentSection !== 0}">
        <img src="assets/img.png" alt="imagem-artigo" class="imagem-artigo">

        <app-titulo-paragrafo title="pa 1"></app-titulo-paragrafo>
    </div>
    <div class="main-container-information" [ngClass]="{'ativoEsq': currentSection === 1 && currentSection < lastSection, 'ativoDir': currentSection === 1 && currentSection > lastSection, 'desativoEsq': (currentSection !== 1) && currentSection > lastSection, 'desativoDir': (currentSection !== 1) && currentSection < lastSection}">
        <img src="assets/img.png" alt="imagem-artigo" class="imagem-artigo">

        <app-titulo-paragrafo title="pa 2"></app-titulo-paragrafo>
    </div>
    <div class="main-container-information" [ngClass]="{'ativoDir': currentSection === 2, 'desativoDir': currentSection !== 2}">
        <img src="assets/img.png" alt="imagem-artigo" class="imagem-artigo">

        <app-titulo-paragrafo title="pa 3"></app-titulo-paragrafo>
    </div>
    <div class="dots">
        <div class="carousel-dots">
            <div class="dot" [class.active]="currentSection === 0" (click)="selectSection(0)"></div>
            <div class="dot" [class.active]="currentSection === 1" (click)="selectSection(1)"></div>
            <div class="dot" [class.active]="currentSection === 2" (click)="selectSection(2)"></div>
        </div>
    </div>
</div>
