* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: linear-gradient(135deg, #000000, #0a0a0a, #0d0d0d); 
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    background: linear-gradient(135deg, #002b24, #001d18);
}